<p id="notice"><%= notice %></p>

<p>
  <strong>Racetype:</strong>
  <%= @search_active.raceType %>
</p>

<p>
  <strong>Location:</strong>
  <%= @search_active.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @search_active.description %>
</p>

<%= link_to 'Edit', edit_search_active_path(@search_active) %> |
<%= link_to 'Back', search_actives_path %>
